body {
    padding-top: 50px;
    color: powderblue;
  }

  .spacing {
    margin-top: 200px;
}

.Dglow{
  display: none;
}

.mod{
  border-radius: 50%;
  width:100px;
  height:100px;
  box-shadow: 0px 2px 2px grey;
  transition: 0.5s;
  background: linear-gradient( #a8c0ff,#3f2b96 );
  color: black;
}
.mod:hover {
  background: linear-gradient( #4e54c8,#8f94fb );
}
.mod1 {
  width: 20px;
  height: 50px;
  background: linear-gradient(#e66465, #9198e5);
  
}