{% extends 'base/base.html' %}
{% load static %}

{%  block content %}
    <!-- breadcrumb start-->
    <section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- about us part start-->
    <section class="about_us single_about_padding">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="about_us_img">
                        <img src="{% static 'img/banner_img1.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="about_us_text">
                        <h2>About us</h2>
                        <p>Research org mainly focusing on distributed computing, OS, linux kernel, 
                            economics & social research, open source research 
                            and market research.</p>
                        <a class="btn_2" href="https://github.com/alice-sieve" target='_blank'>Know More</a>
                        <i class="fa fa-github"></i>
                        <div class="banner_item">
                            <div class="single_item">
                                <img src="{% static 'img/icon/banner_5.jpeg' %}" alt="">
                                <h5>Open Source</h5>
                            </div>

                            <div class="single_item">
                                    <img src="{% static 'img/icon/banner_3.svg' %}" alt="">
                                    <h5>Research</h5>
                            </div>

                            <div class="single_item">
                                <img src="{% static 'img/icon/banner_6.jpeg' %}" alt="">
                                <h5>Linux</h5>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about us part end-->

    <!-- our depertment part start-->
    <!-- feature_part start-->
    <section class="feature_part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="section_tittle text-center">
                            <h2>What do we do ?</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-3 col-sm-12">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><img src="{% static 'img/icon/banner_3.svg' %}" alt=""></span>
                                <h4>Research</h4>
                                <p>Folks in the community doing Research and publishing Research papers.</p>
                            </div>
                        </div>
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><img src="{% static 'img/icon/feature_2.svg' %}" alt=""></span>
                                <h4>Data Visualization</h4>
                                <p>Community members visualizing the data collected by other researchers and folks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                            <div class="single_feature_img">
                                <img src="{% static 'img/service.png' %} " alt="">
                            </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><img src="{% static 'img/icon/blog_svg.jpeg' %}" alt=""></span>
                                <h4>Blogs</h4>
                                <p>Writing Open Source blogs on Research papers summerizing them</p>
                            </div>
                        </div>
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><img src="{% static 'img/icon/feature_2.svg' %}" alt=""></span>
                                <h4>Data Analysis</h4>
                                <p>Analysing the data for Research purpose and visualizing the statistics.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- our depertment part end-->

{% endblock %}
