{% extends 'base/base.html' %}
{% load static%}

{% block content %}
<div class="container">
    <div class="spacing">

        <div class="row mx-auto my-auto">
            <div class="col-lg-2 col-md-6 col-sm-6 my-auto mx-auto">
                <button type="button" class="mod" value="census1971"
                    onclick="myFunction('census1971')">Census<br>1971</button>
            </div>
            <!-- <svg height="20" width="100">
                    <line x1="0" y1="0" x2="100" y2="0" style="stroke:red;stroke-width:12" />
                </svg> -->
            <div class="col-lg-2 col-md-6 col-sm-6 my-auto mx-auto">
                <button type="button" class="mod" value="census1981"
                    onclick="myFunction('census1981')">Census<br>1981</button>
            </div>
            <!-- <svg height="20" width="100">
                    <line x1="0" y1="0" x2="100" y2="0" style="stroke:red;stroke-width:12" />
                </svg> -->

            <div class="col-lg-2 col-md-6 col-sm-6 my-auto mx-auto">
                <button type="button" class="mod" value="census1991"
                    onclick="myFunction('census1991')">Census<br>1991</button>
            </div>
            <!-- <svg height="20" width="100">
                    <line x1="0" y1="0" x2="100" y2="0" style="stroke:red;stroke-width:12" />
                </svg> -->
            <div class="col-lg-2 col-md-6 col-sm-6 my-auto mx-auto">
                <button type="button" class="mod" value="census2001"
                    onclick="myFunction('census2001')">Census<br>2001</button>
            </div>
            <!-- <svg height="20" width="100">
                    <line x1="0" y1="0" x2="100" y2="0" style="stroke:red;stroke-width:12" />
                </svg> -->
            <div class="col-lg-2 col-md-6 col-sm-6 my-auto mx-auto">
                <button type="button" class="mod" value="census2011"
                    onclick="myFunction('census2011')">Census<br>2011</button>
            </div>
        </div>

        <hr style="color: grey">

        <div class=" mx-auto my-auto" id="image">
            <img class="img-fluid" src="{% static 'img/service.png'%}" style="align-self: center;">
        </div>

        <div class="Dglow flourish-embed" id="Dglow1" data-src="visualisation/522364"></div>
        <div class="Dglow flourish-embed" id="Dglow2" data-src="visualisation/522424"></div>
        <div class="Dglow flourish-embed" id="Dglow3" data-src="visualisation/522440"></div>
        <div class="Dglow flourish-embed" id="Dglow4" data-src="visualisation/518728"></div>
        <div class="Dglow flourish-embed" id="Dglow5" data-src="visualisation/518836"></div>

        <script src="https://public.flourish.studio/resources/embed.js"></script>
    </div>
</div>
{% endblock %}