{% load static %}
{% url 'home_page' as home %}
{% url 'SieveApp:contact' as contact %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <a href="{{ home }}" class="navbar-brand"><img src="{% static 'img/logo.png' %}"
                width="60px" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleid">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="toggleid">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == home %}active{% endif %}"><a href="{{ home }}"
                        class="nav-link">Home</a></li>
                <li class="nav-item {% if request.path == contact %}active{% endif %}"><a href="{{ contact }}"
                        class="nav-link">Contact</a></li>
            </ul>

        </div>
    </div>
</nav>